.choice-container {
  display: flex;
  margin-bottom: 0.6rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(228, 183, 160, 0.5);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(228, 183, 160, 0.5);
  transform: translate(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #e4b7a0;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}
